
@media (max-width: 767px) {
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;

    }
    .submit-btn{
        background:#C52828;
        color: #efefef;
        font-size: 30px;
    }
    label {
        font-size: 15px;
        color: white;
        margin-top: 5px;
    }
    .form-control {
        font-size: 20px;
        background-color: darkred;
        border: 1px solid rgb(163, 163, 163);
        padding : 10px;
        border-radius: 4px;
        margin: 5px;
    }
    legend{
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .form-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }
    .submit-btn{
        background:#C52828;
        color: #efefef;
        font-size: 20px;
    }
    label {
        color: white;
        margin-top: 5px;
    }
    .form-control {
        background-color: darkred;
        border: 1px solid rgb(163, 163, 163);
        padding : 10px;
        border-radius: 4px;
        margin: 5px;
    }
}

.form-control:focus {
    background-color: rgb(136, 136, 136);
    border: 1px solid darkred;
    
}

.form-control-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


fieldset {
    border-radius: 10px;
    padding:20px;
    margin: 10px;
    background-color: #2b2d2a;
    
}

.form-select-group{
    text-align: center;
    border-radius: 5px;
    background-color: darkred;
    border: 1px solid rgb(136, 136, 136);
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    min-width: 20%;
}

.form-select{
    padding: 10px;
    height: 20px;
    width: auto;
    
    border: 0px;
}



.checkBox{
    display: flex;
    border-radius: 5px;
    background-color: darkred;
    border: 1px solid rgb(136, 136, 136);
    padding: 5px;
}


.checkbox-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.checkbox-group label {
    margin-left: 8px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
