@media (min-width: 768px) {
    .listWrapper{
        display: flex;
    }
    .sumList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
        border-radius: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .listElement {
        min-width: 150px;
        border: 1px solid white;
        padding: 20px;
        height: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkred;
    }
}

@media (max-width: 767px) {
    .listWrapper{
        display: flex;
    }
    .sumList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: grey;
        border-radius: 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .listElement {
        min-width: 150px;
        border: 1px solid white;
        padding: 20px;
        height: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkred;
    }
}