

@media (min-width: 768px) {
    .Banner {
        min-width: 1540px;
        background: #ad2624;
        text-align: left;
        padding-top: 0.625em; /* 10px / 16px */
        padding-bottom: 0.625em; /* 10px / 16px */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cartIcon {
        margin-left: auto;
        margin-right: 50px
    }
    .productIcon {
        margin-left: auto;
        margin-right: 50px
    }
    .title {
        padding-left: 20px;
        padding-right: 20px;

    }
}

@media (max-width: 767px) {
    .Banner {
        width: 100%;
        background: #ad2624;
        text-align: left;
        padding-top: 0.625em; /* 10px / 16px */
        padding-bottom: 0.625em; /* 10px / 16px */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cartIcon {
        margin-left: auto;
        margin-right: 0.0625em;
    }
    .productIcon {
        margin-left: auto;
        margin-right: 0.0625em;
    }
    .title {
        padding-left: 0.3125em;
        padding-right: 0.3125em;
        font-size: 1.875em;
        line-height: 1.1;
    }
}
