.box {
    display: flex;
    align-items: flex-start;
    padding: 1px;
    background: #efefef;
    margin: 10px;
}

.pokemonImg {
    display: block;
    height: auto;
    width: 100%;
}

.headline {
    font-weight: bold;
    font-size: 16px;
}

.textBox {
    display: flex;
    align-self: center;
    flex: 1;
    padding: 10px 15px;
    flex-direction: column;
    height: 100%;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;
}

.deleteContainer {
    display: flex;
    align-self: center;
    flex: 1;
}
.deleteButton {
    background-color: #C52828;
    color: white;
    padding: 5px;
    margin: 15px;
}

.imgBox{
    display: flex;
    align-self: center;
    flex: 1;
    padding: 5px 5px;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
    min-width: 100px;
}

p {
    text-align: center;
    font-size: small;
    color: #222224;
    min-width: 90px;
    margin: 10px 0px auto;
}

select {
    min-width: 35px;
    background-color:#C52828;
    color: #ffffff;
    margin: 10px;
}
input {
    width: 75px;
    background-color:#C52828;
    color: #ffffff;
    margin: 10px;
}

.laminate{
    margin-top: 100%;
}