.box {
    display: flex;
    align-items: flex-start;
    padding: 1px;
    background: #efefef;
    margin: 10px;
}

.pokemonImg {
    display: block;
    height: auto;
    width: 100%;
}

.headline {
    font-weight: bold;
}

.textBox {
    display: flex;
    align-self: center;
    flex: 1;
    padding: 10px 15px;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}

.imgBox{
    display: flex;
    align-self: center;
    flex: 1;
    padding: 5px 5px;
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
}

p {
    text-align: center;
    font-size: small;
    color: #222224;
    margin: 10px;
    min-width: 90px;
}

 select {
     min-width: 35px;
     background-color: #ed1515;
}

option:hover {
    background-color: yellow;
}