.discountNudgeContainer {
    padding: 15px;
    width: 50%;
    margin: 20px auto;
    background-color: #D3D3D3;
    border: 2px solid #ffcc00;
    border-radius: 10px;
}

.discountMessage {
    color: #000;
    font-size: 16px;
    text-align: center;
}
