.productsContainer{
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #d9d9d9;
    width: auto;
    border-radius: 5px;
    align-items: center;
}

.recommendedWrapper{
    padding: 1em;
}


.productList{
    width: 100%;
    height: 100%;
    background-color: #80808000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productItem{
    background-color: #80808000;
    height: auto;
    border: none;

}

.pokeImg{
    width: 90%;
}

.productTitle{
    color: black;
    font-weight: bold;
}

.productPrice{
    color: black;
    font-weight: bold;
}

.addProductButton{
    margin-top: 0.5em;
    padding: 0.4em 0.8em;
}


