.productsContainer{
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #d9d9d9;
    width: auto;
    border-radius: 5px;
    align-items: center;
}

.recommendedWrapper{
    padding: 1em;
}

@media (max-width: 767px) {
    .productPrice{
        font-size: 25px;
        color: black;
        font-weight: bold;
    }
    .productTitle{
        font-size: 25px;
        color: black;
        font-weight: bold;
    }
    .addProductButton{
        font-size: 25px;
        margin-top: 0.5em;
        padding: 0.4em 0.8em;
    }
}

@media (min-width: 768px) {
    .productPrice{
        color: black;
        font-weight: bold;
    }
    .productTitle{
        color: black;
        font-weight: bold;
    }
    .addProductButton{
        margin-top: 0.5em;
        padding: 0.4em 0.8em;
    }
}


.productList{
    width: 100%;
    height: 100%;
    background-color: #80808000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productItem{
    background-color: #80808000;
    height: auto;
    border: none;

}

.pokeImg{
    width: 90%;
}




