@media (min-width: 768px) {
    .Wrapper{
        display: flex;
        background: #d9d9d9;
        padding: 10px;
        flex-direction: column;
        width: 32%;
        min-width: 550px;
        border-radius: 5px;
    }
    .containers {
        flex-direction: row;
    }
}
@media (max-width: 767px) {
    .Wrapper{
        display: flex;
        background: #d9d9d9;
        padding: 10px;
        flex-direction: column;
        border-radius: 5px;
    }

    .containers {
        flex-direction: column;
    }
}

label{
    font-family: inherit;
    font-size: small;
    color: black;
}
