.TotalpriceBox{
    display: flex;
    align-items: flex-start;
    padding: 1px;
    background: #efefef;
    max-height: 250px;
    align-self: auto;
    margin-left: auto;
    margin-right: 10px;
    width:300px;
    border-radius: 5px;
}

.checkoutbutton{
    title:"Checkout";
    background:#C52828;
    color: #efefef;
}

.textBoxPriceBox {
    display: flex;
    align-self: center;
    flex: 1;
    padding: 10px 15px;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}


.headlinePriceBox {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.priceleft {
    font-weight: bold;
    text-align: left;
    font-size: small;
    color: #222224;
    min-width: 90px;
    margin: 10px 10px;
}

.text {
    text-align:left;
    font-size: small;
    color: #222224;
    min-width: 90px;
    margin: 10px 10px;
}

.textright{
    text-align: right;
    font-size: small;
    color: #222224;
    min-width: 90px;
    margin: 10px 10px;
}

.discountText{
    text-align: right;
    font-weight: bold;
    font-size: small;
    color: #02de27;
    min-width: 90px;
    margin: 10px 10px;
}

.price {
    font-weight: bold;
    text-align: right;
    font-size: small;
    color: #222224;
    min-width: 90px;
    margin: 10px 10px;
}
